* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}
@font-face {
	font-family: kamerik-3d;
	src: url(../fonts/kamerik205-heavy.woff2);
	font-weight: 900;
}
@font-face {
	font-family: merriweather-italic-3d;
	src: url(../fonts/merriweather-regular-italic.woff2);
}
body {
	background-color: #000;
	color: #fff;
	font-family: kamerik-3d;
}
.layers {
	perspective: 1500px;
	overflow: hidden;
}
.layers__container {
	height: 100vh;
	min-height: 500px;
	transform-style: preserve-3d;
	transform: rotateX(var(--move-y)) rotateY(var(--move-x));
	will-change: transform;
	transition: transform var(--transition);
}
.layers__item {
	position: absolute;
	inset: -5vw;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.layer-space {
	transform: translateZ(-55px) scale(1.06);
}

.layer-jupiter{
	left: 10%;
	text-align: center;
	height: 200%;
	width: 200%;
	transform: translateZ(-20px) scale(.90);
	top: -40%;
	transform: translateZ(-1.7rem) scale(.90);
}

.layer-europe{
	left: -170%;
	text-align: center;
	height: 350%;
	width: 350%;
	transform: translateZ(-20px) scale(.45);
	top: -120%;
	transform: translateZ(-1.7rem) scale(.45);
}

.hero-content{
	position: absolute;
	text-transform: uppercase;
	margin-top: calc(var(--index) * -28);
	letter-spacing: calc(var(--index) * -.15);
	font-size: calc(var(--index) * 1);
	text-align: center;
}

.registr{
	display: block;
}

.registr__container{
	background: rgba(0, 0, 0, 0.4);
	padding-top: 15px;
	padding-left: 10px;
	position: absolute;
	width: 690px;
	height: 600px;
	overflow: hidden; /*overflow обрезает, скролит текст*/
	top: 50%;
    left: 50%;
	margin-left: auto;
    margin-right: auto;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}

.header{
	padding-top: 15px;
	text-transform: uppercase;
	text-align: center;
	color:white;
	font-style: normal;
	line-height: normal;
	transform-style: preserve-3d;
	font-size: 45px;
	font-weight: 350;

}

.data-content{
	padding: 10px;
}

.email{
	padding-top: 70px;
	color: #FFF;
	font-size: 35px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.input-email{
	box-shadow: none;
	outline-offset: 0;
	outline: none;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	width: 380px;
	height: 40px;
	display: flex;
	border: 2px solid;
	border-radius: 8px;
	border-color: rgba(0, 0, 0, 0.6); 
}

.password{
	padding-top: 20px;
	color: #FFF;
	font-size: 35px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

}
.input-password{
	outline-offset: 0;
	outline: none;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
	width: 380px;
	height: 40px;
	display: flex;
	border: 2px solid;
	border-radius: 8px;
	border-color: rgba(0, 0, 0, 0.6); 
}

.forgot-1{
	position: absolute;
	font-family: Arial;
	font-weight: 600;
	text-transform: uppercase;
	font-size: calc(var(--index) * .40);
	padding: calc(var(--index) * .7) calc(var(--index) * 1.0);
	letter-spacing: -.02vw;
	background-color: transparent;
	color: #fff;
	border-radius: 10em;
	border: #fff 3px solid;
	top: 85%;
	left: 60%;
}

.forgot-2{
	position: absolute;
	font-family: Arial;
	font-weight: 600;
	text-transform: uppercase;
	font-size: calc(var(--index) * .40);
	padding: calc(var(--index) * .7) calc(var(--index) * 1.0);
	letter-spacing: -.02vw;
	background-color: transparent;
	color: #fff;
	border-radius: 10em;
	border: #fff 3px solid;
	top: 75%;
	left: 60%;
}

.sign-button{
	padding: 10px;
	position: absolute;
	font-family: Arial;
	font-weight: 600;
	text-transform: uppercase;
	font-size: calc(var(--index) * .71);
	padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
	letter-spacing: -.02vw;
	background-color: transparent;
	color: #fff;
	border-radius: 10em;
	border: #fff 3px solid;
	cursor: pointer;
	top: 400px;
}

.other-content{
	padding-top: 100px;
}

.reg{
	color: #FFF;
	text-decoration: none;
}

.reg-f{
	color: #4285B4;
	text-decoration: none;
}

.button-content{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
